a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  vertical-align: baseline;
}

body {
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

a {
  color: #00b0f4;
  cursor: pointer;
  text-decoration: none;
  transition: opacity .5s,color .5s;
}

.margin-top {
  margin-top: 4px;
}

.accesory > * {
  margin-top: 8px;
}

.weight-normal {
  font-weight: 400;
}

.weight-medium {
  font-weight: 500;
}

.weight-bold {
  
}

.size-12 {
  font-size: 12px;
}

.size-14 {
  font-size: 14px;
}

/* Inherited */
.accesory a {
  cursor: pointer;
  text-decoration: none;
  transition: .05s;
}

.themedark .accessory a {
  color: #0096cf;
}

.accessory .markup {
  color: #737f8d;
  font-size: 0.9375rem;
  line-height: 1.1em;
  margin-top: 6px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.themedark .accessory .markup {
  color: hsla(0,0%,100%,.7);
}

.accessory .embed .markup {
  font-size: 0.875rem !important;
  line-height: 1rem !important;
}


/* Start embed */
.accesory {
  display: flex;
  flex-direction: column;
  /* Inherited */
  word-wrap: break-word;
  color: #fff;
}

.embed {
  max-width: 520px;
  position: relative;
  /* Inherited */
  display: flex
}

.embed-pill {
  background-color: #cacbce;
  border-radius: 3px 0 0 3px;
  flex-shrink: 0;
  width: 4px;
}

.theme-dark .embed-pill {
  background-color: #4f545c;
}

.embed-inner {
  background: hsla(0,0%,98%,.3);
  border: 1px solid hsla(0,0%,80%,.3);

  border-radius: 0 3px 3px 0;
  box-sizing: border-box;
  overflow: hidden;
  padding: 8px 10px;
}

.theme-dark .embed-inner {
  background-color: rgba(46,48,54,.3);
  border-color: rgba(46,48,54,.6);
}

.embed-content-inner {
  flex: 1;
  overflow: hidden;
}

.embed-provider {
  color: #87909c !important;
  display: inline-block;
}

.embed-margin {
  
}

.embed-title-link {
  color: #00b0f4;
}

.themedark .embed-title-link {
  color: #0096cf !important;
}

.embed-title {
/*  color: #4f545c;*/
  display: inline-block;
}

.embed-link {
  cursor: pointer;
  text-decoration: none;
}

.embed-description {
  color: rgba(79,83,91,.9);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
}

.theme-dark .embed-description{
  color: hsla(0,0%,100%,.6);
}

.themedark .embed-description, .themedark .field-value, .themedark .embed-provider {
  color: hsla(0,0%,100%,.6);
}































